@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --main-blue: #23bcf4 ;
    --blue-hover: #8bd4ef;
    --white: #fff;
    --green: #55aa43;
    --pink: #e7529c;
    --pink-hover: #f58abf;
    --red: red; 
    --red-hover: rgb(233, 49, 49);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black;
    background-image: url("./assets/background_1.png");
    color: var(--white);
    height: 100%;
}

/* header and its content */
.header-container {
    max-width: 30rem;
    height: 100%;
    margin-top: 8em;
}

.header-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: .3em;
    box-shadow: 0 0 8px 3px 
    var(--main-blue);
    background-color: black;
    padding-top: 1em;
}

.header-content p:first-of-type {
    margin-left: 10px;
}

.header-content p:last-of-type {
    margin-right: 10px;
}

/* welcome section */
.rules-container {
    box-shadow: 0 0 8px 3px 
    var(--main-blue);
    margin-bottom: 15%;
    line-height: 1.5em;
    text-align: center;
}

.start-button {
    margin-top: .5em !important;
    width: 100%;
    padding: .8em;
    margin-bottom: .5em !important;
    letter-spacing: .1em; 
}

.nav-score-text {
    color: var(--main-blue);
    margin-right: 5px;
}

.nav-timer-text {
    color: var(--main-blue);
    margin-left: 5px;
}

.star-icon {
    vertical-align: .24em !important;
}

/* text colors */
.blue-text {
    color: var(--main-blue)
}

.pink-text {
    color: var(--pink);
}

.white-text {
    color: var(--white);
}

/* Quiz section */
#question {
    text-align: center;
    font-size: 1.5em;
}

.answers-buttons {
    width: 100%;
    padding: .8em;
    margin: .4em 0 !important;
    cursor: pointer;
}

.button-style {
    color: var(--white);
    background-color: var(--pink);
    border-top: 2px inset #f3a3c6dc; 
    border-left: 8px inset rgba(0, 0, 0, 0.321);
    border-bottom: 8px inset rgba(0, 0, 0, 0.523);
	border-right: 8px inset rgba(255, 255, 255, 0.144);
}

.nav-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.nav-buttons {
    background-color: var(--main-blue);
    color: var(--white);
    border-top: 2px inset #f1f1f8dc; 
    border-left: 8px inset rgba(0, 0, 0, 0.321);
    border-bottom: 8px inset rgba(0, 0, 0, 0.523);
	border-right: 8px inset rgba(255, 255, 255, 0.144);
    padding: .5em 1em;
}

.nav-buttons:hover {
    background-color: var(--blue-hover);
}

.button-style:hover {
    background-color: var(--pink-hover);
}

/* user lost and won page */
.game-ending {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2em;
}

.loser-text {
    text-align: center;
    padding: 1em 1em 0 1em;
    line-height: 2em;
    margin-bottom: 0;
}

.lost-title {
    color: var(--red)
}

#exit-button {
    background-color: var(--red);
}

#exit-button:hover {
    background-color: var(--red-hover);
}

.winner-title {
    color: var(--blue-hover);
}

.winner-text {
    text-align: center; 
}

.winner-score-text {
    margin: 0 0 8px;
}

.correct-answer {
    background-color: var(--green) !important;
}

.wrong-answer {
    background-color: red !important;
}

/* score board */
h2:last-of-type {
    text-align: center;
}

ul li {
    list-style: none;
}

.score-container {
    border: 2px solid #dd5c9d;
    padding: 1em;
    box-shadow: 0 0 8px 3px 
    var(--pink); 
    margin-bottom: 4em;
}

.score-container h2 {
    margin-top: .8em;
}

.score-board-quit {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
 }

/* form section */
input {
    padding: .5em 0 ; 
    margin-top: 1em;
    width: 83%;
    text-align: center;
}

#score-form {
   padding-top: .8em;
}

button[type="submit"] {
    margin-top: 1em;
}

#exit-button:hover {
    background-color: rgb(241, 93, 93);
}

/* gif stylings */
.skull {
    padding-left: 2.3em;
}

.hot-dog {
    height: 200px;
    width: auto;
}

.protect-trans-kids {
    height: 200px; 
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* css for display and hiding pages */
.hidden {
    display: none;
  }

.visible {
    visibility: visible;
}

/* change navbar header layout to block level */
@media only screen and (max-width: 947px) {
    h1 {
        text-align: center;
        flex-direction: column;
    }
    .quiz {
        margin-top: 2em;
    }
    .nav-score-text {
        text-align: center; 
    }
    .nav-timer-text {
        text-align: center;
    }
    .block-display {
        width: 100%;
    }
}

/* change navbar items colors */
@media only screen and (max-width: 859px) {
    .block-display {
        display: block;
    }
    .header-container {
        margin-bottom: 15%;
    }
    .nav-timer-text {
        color: var(--white);
    }   
    .nav-score-text {
        color: var(--white); 
    }
    .blue-text {
        color: var(--main-blue)
    }
    body {
        margin-top: 10%;
    }
}

/* change application layout for xs screens */
@media only screen and (max-width: 430px) {
    h1 {
        font-size: 15px; 
    }
    #quiz-container {
        margin-top: none;
    }
    .nav-score-text {
        font-size: 10px;
    }
    .nav-timer-text {
        font-size: 10px;
    }
    .score-container {
        margin-top: 0;
    }
}
