@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    max-width: 30rem;
    height: 100%;
    margin-top: 8em;
}

.title {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: .3em;
    box-shadow: 0 0 8px 3px 
    #446da9;
}
.title p{
    padding-top: 1em;
}

.title p:first-of-type {
    margin-left: 10px;
}

.title p:last-of-type {
    margin-right: 10px;
}

.question {
    align-self: center;
    justify-content: center;
}

button {
    margin-bottom: .4em !important;
    border-radius: 10px !important;
}

.start-button {
    margin-top: 1.3em !important;
    width: 100%;
}

.start-text {
  letter-spacing: .1em;  
}

.rules-container {
    border-radius: 10px;
}

.score {
    font-family: 'Press Start 2P', cursive;
}

.timer {
    font-family: 'Press Start 2P', cursive;
}
