@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black;
    background-image: url("./assets/background_1.png");
    color: #dad5d5;
}

/* header and its content */
.header-container {
    max-width: 30rem;
    height: 100%;
    margin-top: 8em;
}

.header-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: .3em;
    box-shadow: 0 0 8px 3px 
    #446da9;
    background-color: black;
    padding-top: 1em;
}

.header-content p:first-of-type {
    margin-left: 10px;
}

.header-content p:last-of-type {
    margin-right: 10px;
}

/* Quiz section */
.question {
    align-self: center;
    justify-content: center;
    font-size: 1.5em;
}

.start-button {
    margin-top: 1.3em !important;
    width: 100%;
    padding: .8em;
    margin-bottom: 1em !important;
    background-color: #446da9;
}

.start-text {
    letter-spacing: .1em;  
  }

.answers-buttons {
    width: 100%;
    padding: .8em;
    margin-bottom: .4em !important;
    background-color: #446da9;
}

.button-style {
    border-top: 2px inset rgb(255, 255, 255); 
    border-left: 8px inset rgba(0, 0, 0, 0.321);
    border-bottom: 8px inset rgba(0, 0, 0, 0.495);
	border-right: 8px inset rgba(255, 255, 255, 0.218);
}

.button-style:hover {
    background-color: #799ed6;
}

.rules-container {
    box-shadow: 0 0 8px 3px 
    #446da9;
}



